<launch>
  <!-- odom에서 base_link로의 TF 변환 -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_base_link" args="0 0 0 0 0 0 odom base_link" />
  
  <!-- base_link에서 imu로의 TF 변환 -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_imu" args="-0.1 0 0 0 1 0 base_link imu" />
  
  <!-- base_link에서 laser로의 TF 변환 -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_laser" args="0.1 0 0 0 0 0 base_link laser" />
  
  <!-- map에서 odom으로의 TF 변환 -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom" />
</launch>

