<launch>
  <!--<node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_base_link"
        args="0 0 0 0 0 0 odom base_link" />-->

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_imu"
        args="-0.092 0 0 0 0 0 base_link imu" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_laser"
        args="0.11 0 0.1 0 0 0 base_link laser" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_front_wheel"
        args="0.162 0 0 0 0 0 base_link front_wheel" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_rear_wheel"
        args="-0.162 0 0 0 0 0 base_link rear_wheel" />
  
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom" />

</launch>

